@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'integralCF';
  src: url('../public/fonts/IntegralCF-Regular.otf');
}
.shadow-art {
  box-shadow: 2px 1px 0px 0px rgba(0, 0, 0, 1); 
}
.shadow-body1 {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1); 
}
body{
  background-color: #F9F1E4;
}